@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.navbar-title {
    font-size: small;
}

.navbar-logo {
    padding: 0;
    margin: 0;
    height: 50px;
    display: inline-block;
    vertical-align: top;  
}

.container-fluid {
    background: rgb(63,75,122);
    background: linear-gradient(90deg, rgba(63,75,122,1) 30%, rgba(48,59,108,1) 100%);
    opacity: 90%;
}

.nav-link {
    color: white;
}

.navbar {
    padding: 0;
    z-index: 9;
    position: sticky;
    top: 0;
}

.panel {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

h1 {
    font-family: 'Koulen', cursive;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: large;
    text-align: center;
}

h3 {
    font-size: large;
    font-weight: bold;
}

h4,p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p {
    text-align: justify;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn {
    font-weight:500;
    color: #ffffff;
}
  
hr.style-h {
    border: 0; 
    height: 1.5px; 
    background-image: -webkit-linear-gradient(left, #656363, #fffdfd, #656363);
    background-image: -moz-linear-gradient(left, #656363, #fffdfd, #656363);
    background-image: -ms-linear-gradient(left, #656363, #fffdfd, #656363);
    background-image: -o-linear-gradient(left, #656363, #fffdfd, #656363); 
}

.fa, .fas, .fab {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

/* Queries */
@media (max-width:768px) {
    .pannel{
        min-height: 30vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }

    .registration-right {
        width: 100%;
    }
    .event-list .card-text {
        font-size: calc(0.5rem + 1vw);
    }

    .event-list .card-title span {
        font-size: calc(0.4rem + 1vw);
    }

    #contact2 {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .panel {
        background-image: url('image/astro-landing-mobile.jpg');
    }

    .panel.event {
        background-image: url(image/pexels-pavel-danilyuk-9143831.jpg);
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .panel {
        background-image: url('image/pexels-yuting-gao-1567069.jpg');
    }
    .panel.event {
        background-image: url(image/pexels-pavel-danilyuk-9143831.jpg);
    }
}

@media only screen and (min-width: 1025px) {
    .panel {
	    background-image: url('image/pexels-yuting-gao-1567069.jpg');
   }
   .panel.event {
    background-image: url(image/pexels-pavel-danilyuk-9143831.jpg);
}
}

.img-event {
    height: 50%;
    width: 50%;
}

.footer-style {
    width: 100%;
    background: linear-gradient(90deg, rgba(63,75,122,1) 30%, rgba(48,59,108,1) 100%);
}

.menu a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-decoration: inherit;
}

a {
    text-decoration: inherit;
}

.welcome {
    display: inline-block;
}

/* newsletter  */
 .content {
    min-height: 30vh;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
 }

 .input-group{
    max-width: 70%; 
    margin: auto;
 }

.newsletter .content h2 {
    color: #ffffff;
    margin-bottom: 40px; 
    font-size: x-large;
}
.newsletter .content .form-control {
    height: 40px;
    border-color: #ffffff;
    border-radius:0;
    }
.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
.newsletter .content .btn {
    min-height: 40px; 
    border-radius:0;
    background: rgb(63,75,122);;
    color: #fff;
    font-weight:600;
}

/* Gallery */

.carousel {
    max-width: 600px;
    margin: auto;
}

.site-text {
    margin: auto;
    max-width: 600px;
}

/* date event */
.event-info {
    display: inline-block;
    font-size: 15px;
    padding-right: 10px;
}

/* modal */
.modal
    {
        color: #454546;
        background: transparent;
        font-family: "Varela Round", sans-serif;
    }
    .form-control:focus {
        border-color: #8464ca;
        box-shadow: 0 0 8px #beace3;
    }
    .contact-modal {
        width: 600px;
        padding: 50px;
        margin: 30px auto;
    }
    .contact-modal h4 {
        font-size: 26px;
        display: inline-block;
    }
    .contact-modal .form-control, .contact-modal .btn  {
        min-height: 38px;
        border-radius: 1px;
        outline: none;
    }
    .contact-modal .btn-primary {
        min-width: 100px;
        background: rgb(63,75,122);;
        border: none;
    }
    .contact-modal .btn-primary:hover {
        background: rgb(63,75,122);
    }
    .contact-modal .btn-primary:focus {
        box-shadow: 0 0 8px rgba(132, 100, 202, 0.6);
    }
    .contact-modal .btn-link {
        color: rgb(63,75,122);
    }
    .contact-modal label {
        opacity: 0.9;
        font-weight: normal;
        font-size: 95%;
    }
    .contact-modal textarea {
        resize: vertical;
    }
    .contact-modal.modal-dialog {
        width: 480px;
    }
    .contact-modal .modal-header {
        padding: 20px 35px 14px;
    }
    .contact-modal .modal-content {
        border-radius: 1px;
    }
    .contact-modal .close {
        position: absolute;
        right: 35px;
        top: 25px;
    }
    .contact-modal .modal-body {
        padding: 20px 35px 35px;
    }
    .hint-text {
        opacity: 0.8;
    }
    .trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
